# Android / Gradle
android/local.properties
android/**/build/
android/.gradle/
android/.kotlin/
android/**/.cxx/
android/captures/
android/*.iml
android/**/*.iml

# IDE
.idea/

# macOS
.DS_Store

# Misc
*.log
